<!DOCTYPE html>
<html>
<head>
	<title>books</title>
	<meta charset = "UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/book.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script type="text/javascript"  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<link rel="stylesheet" href="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.css" />
	<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>   
</head>
<body>

<%include header%><br>

<div class="container" id="wborder">
  <div class="row">
    <div class="col-md-4">
      <h1>content</h1><br>
        <ul>
        <li><h4>grade11</h4></li>
        <li id="a"><p1>science</p1></li>
        <li id="b"><a href="/electric">Electric charge</a></li>
        <li id="a"><p1>mathematics</p1></li>
        <li id="b"><a href="/line">Equation of line</a></li>&nbsp;
        <li><h4>grade12</h4></li>
        <li id="a"><p1>social studies</p1></li>
        <li id="b"><a href="/usa">Rulers of USA</a></li>
       </ul>
    </div>
    <div class="col-md-1" id="border">
    	
    </div>
    <div class="col-md-7">
      <h1>question/answer</h1><br>
      <p>q1) <%=a %></p>
      <p>ans) <%=b %></p>
      <p>q2) <%=c %></p>
      <p>ans) <%=d %></p>
    </div>
  </div>
</div>

<script>
    AOS.init();
  </script>
  

 <%include footer%>